NODE_ENV=development
PORT=3000
ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=your-db-name
POSTGRES_USER=your-user-name
POSTGRES_PASSWORD=your-pwd
DATABASE_URL=postgresql://your-db-name:your-user-name@localhost:5432/your-pwd?schema=public

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_URL=redis://localhost:6379